*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-image: url("./assets/cadastro-fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #22677B;
}